Converted Data: <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>NSKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<string>UID:2</string>
			<key>NSColorSpace</key>
			<integer>3</integer>
			<key>NSWhite</key>
			<data>
			MCAwLjg1MDAwMDAyAA==
			</data>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSColor</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSColor</string>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>root</key>
		<string>UID:1</string>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>

Converted Data: <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>NSKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<string>UID:2</string>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSRGB</key>
			<data>
			MC4yIDEgMC4yAA==
			</data>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSColor</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSColor</string>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>root</key>
		<string>UID:1</string>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>

Converted Data: <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>NSKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<string>UID:3</string>
			<key>NSName</key>
			<string>UID:2</string>
			<key>NSSize</key>
			<real>15.0</real>
			<key>NSfFlags</key>
			<integer>16</integer>
		</dict>
		<string>Hack-Regular</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSFont</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSFont</string>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>root</key>
		<string>UID:1</string>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>

Converted Data: <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>NSKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<string>UID:2</string>
			<key>NSColorSpace</key>
			<integer>3</integer>
			<key>NSWhite</key>
			<data>
			MC4yNTQwMzIyNQA=
			</data>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSColor</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSColor</string>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>root</key>
		<string>UID:1</string>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>

Converted Data: <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>NSKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<string>UID:2</string>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSRGB</key>
			<data>
			MC4yIDEgMAA=
			</data>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSColor</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSColor</string>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>root</key>
		<string>UID:1</string>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>

Converted Data: <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>NSKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<string>UID:2</string>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSRGB</key>
			<data>
			MC4yIDEgMC4yAA==
			</data>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSColor</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSColor</string>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>root</key>
		<string>UID:1</string>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>

